*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --dark: rgba(58, 58, 58, 1);
  
  --gray: rgba(120, 120, 133, 1); 
  
  --btn-bg: rgba(224, 44, 109, 0.87);

  --btn-tex: #FFFFFF;
  

}

body{
  font-family: "Poppins", sans-serif;
}


/* sheard style */

.display-flex{
  display: flex;
}





/* navbur style */
#header{
  max-width: 1160px;
  margin: 70px auto;
}
.navbur{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nav-title{
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark);
  text-align: center;
}
.menu{
  justify-content: center;
  align-items: center;
}
.menu-item{
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark);
  margin-right: 5px;
  padding: 15px 30px;
  border-radius: 5px;
  transition: 0.5s;
}
.menu-item:hover{
  background-color: var(--btn-bg);
  color: var(--btn-tex);
  transition: 0.5s;
}
.menu-icon{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.menu-icon-2{
  width: 34px;
  height: 34px;
}


/* benar style */
.hero-area{
  max-width: 1160px;
  margin: 50px auto;
}
.benar{
  justify-content: space-between;
  align-items: center;
}
.benar-title{
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 50px;
  color: var(--dark);
  margin-bottom: 20px;
}
.benar-description{
  font-weight: 600;
  font-size: 1rem;
  color: var(--dark);
  padding-bottom: 20px;
}
.benar-btn{
  width: 205px;
  text-decoration: none;
  background-color: var(--gray);
  font-weight: 700;
  font-size: 1rem;
  color: var(--dark);
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
}
.benar-btn:hover{
background-color: var(--btn-bg);
color: var(--btn-tex);
}

.benar-image{
  background-image: url(/images/Circle\ design.svg);
}














/* small divice responsive */
@media screen and (max-width:575px) {
  .navbur{
    flex-direction: column;
  }
  .menu{
    flex-direction: column;
  }
  .nav-title{
    font-weight: 800;
    font-size: 2rem;
    align-content: center;
    margin-bottom: 30px;
  }
  .menu-icon{
    margin-bottom: 20px;
  }
  .menu{
    margin-bottom: 30px;
  }
  .benar{
    flex-direction: column;
    align-content: center;
  }
  .benar-image{
    max-width: 420px;
    align-content: center;
  }
  .benar-image-1{
    width: 100%;
    
  }
  .benar-text h1{
    font-weight: 700;
    font-size: 2rem;
  }
  .benar-text-area{
    width: 420px;
    align-content: center;
  }
  
}