*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --dark: rgba(58, 58, 58, 1);
  --gray: rgba(120, 120, 133, 1); 
  --btn-bg: rgba(224, 44, 109, 0.87);
  --btn-tex: #FFFFFF;
  --text-gray: rgba(24, 25, 31, 1);
  --text-dark:rgba(0, 0, 0, 0.87);
  --light-blue: rgba(10, 8, 38, 1);
  --light-gray:rgba(108, 108, 108, 1);

}

body{
  font-family: "Poppins", sans-serif;
}


/* sheard style */

.display-flex{
  display: flex;
}





/* navbur style */
#header{
  max-width: 1160px;
  margin: 70px auto;
}
.navbur{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nav-title{
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark);
  text-align: center;
}
.menu{
  justify-content: center;
  align-items: center;
}
.menu-item{
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark);
  margin-right: 5px;
  padding: 15px 30px;
  border-radius: 5px;
  transition: 0.5s;
}
.menu-item:hover{
  background-color: var(--btn-bg);
  color: var(--btn-tex);
  transition: 0.5s;
}
.menu-icon{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.menu-icon-2{
  width: 34px;
  height: 34px;
}


/* benar style */
.hero-area{
  max-width: 1160px;
  margin: 50px auto;
}
.benar{
  justify-content: space-between;
  align-items: center;
}
.benar-title{
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 50px;
  color: var(--dark);
  margin-bottom: 20px;
}
.benar-description{
  font-weight: 600;
  font-size: 1rem;
  color: var(--dark);
  padding-bottom: 20px;
}
.benar-btn{
  width: 205px;
  text-decoration: none;
  background-color: var(--gray);
  font-weight: 700;
  font-size: 1rem;
  color: var(--btn-tex);
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
}
.benar-btn:hover{
background-color: var(--btn-bg);
color: var(--btn-tex);
}

.benar-image{
  background-image: url(/images/Circle\ design.svg);
}

.benar-bottom{
  width: 1110px;
  margin: 70px auto;
}
.bottom-wraper{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  align-items: center;
}

/* main section start */
.main-content{
  max-width: 1050px;
  margin: 50px auto;
  position: relative;
}

.main-content-title{
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 70px;
  color: var(--dark);
  text-align: center;
  margin-bottom: 20px;
}

.main-content-wraper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.main-content-card{
  padding: 20px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.content-card-title{
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 40px;
  color: var(--text-gray);
  margin: 0;
}

.product-price{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
  color: var(--text-dark);
  margin: 5px 0;
}

.content-card-description{
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 143%;
  color: var(--gray);
}
.main-content-letter{
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  color: var(--btn-bg);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 30px;
  margin-top: 50px;
}
.main-btn-arrow{
  margin-left: 10px;
}



/* featured section start */
.featured-product{
  width: 1110px;
  margin: 100px auto;
}

.featured-container{
  display: grid;
  grid-template-columns: 405px 1fr;
  column-gap: 90px;
  
}
/* .featured-container{
  display: flex;
  gap: 96px;
  align-items: center;
} */
.featured-image{
  width: 404px;
  border-radius: 5px;
}
/* .featured-content{
  max-width: 610px;
} */
.featured-content-title{
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
  color: var(--light-blue);
  margin-bottom: 16px;
}

.featured-content-description{
  font-weight: 700;
  font-size: 1rem;
  line-height: 28px;
  color: var(--light-gray);

}

.featured-btn-container{
  margin-top: 16px;
  max-width: 155px;
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

.featured-btn{
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  color: var(--btn-tex);
  background-color: var(--light-gray);
  padding: 10px 25px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.featured-btn:hover{
  background-color: var(--btn-bg);
  transition: 0.5s;
}

.footer{
  max-width: 1440px;
  background-color: var(--light-blue);
  margin: 0 auto;
}
.footer-content{
  max-width: 270px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.footer-title{
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--btn-tex);
}
.footer-sub-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray);
}
.footer-description{
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray);
}
.footer-link-image{ 
  margin: 5px 0;
}










/* small divice responsive */
@media screen and (max-width:575px) {
  .navbur{
    flex-direction: column;
  }
  .menu{
    flex-direction: column;
  }
  .nav-title{
    font-weight: 800;
    /* font-size: 2rem; */
   margin: 30px auto;
   text-align: center;
  }
  .menu-icon{
    margin-bottom: 20px;
  }
  .menu{
    margin-bottom: 30px;
  }
  .benar{
    flex-direction: column;
    align-content: center;
  }
  .benar-image{
    max-width: 420px;
    align-content: center;
  }
  .benar-image-1{
    width: 100%;
    
  }
  .benar-text h1{
    font-weight: 700;
    font-size: 2rem;
  }
  .benar-text-area{
    width: 420px;
    align-content: center;
  }
  .benar-bottom{
    max-width: 450px;
    margin: 50px auto;
    align-content: center;
  }
  .bottom-wraper{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    margin: 50px;
    
  }
  .main-content-wraper{
    grid-template-columns: repeat(1, 1fr);
  }

  .main-content-card{
    margin: 30px auto;
  }
  .content-card-image{
    width: 100%;
  }
  
  .main-content-letter{
    margin: 30px 80px;
  }
  /* .featured-container{
  grid-template-columns: repeat(1, 1fr);
  }
.featured-image{
  width: 400px;
  margin:  0;
} */

.footer{
  width: 100%;
}

}